# Assignment: Preparing Data for Analysis (Modified Titanic)

![](https://github.com/kaopanboonyuen/2110446_DataScience_2021s2/raw/main/%20files/hw.png)

In [1]:
#Import the libraries
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('https://github.com/kaopanboonyuen/2110446_DataScience_2021s2/raw/main/datasets/hw/titanic_training_dataset_v2.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0,A/5 21171,7.2500,NaN,S
1,2,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0,PC 17599,71.2833,C85,C
2,3,1.0,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0,113803,53.1000,C123,S
4,5,0.0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0,373450,8.0500,NaN,S

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     865 non-null    float64
 2   Pclass       828 non-null    float64
 3   Name         866 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        858 non-null    float64
 7   Parch        891 non-null    int64
 8   Ticket       852 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     803 non-null    object
dtypes: float64(5), int64(2), object(5)
memory usage: 83.7+ KB

# 1) Load data & review the data

<font color='blue'>Q1) What is the shape of this dataset? (rows & columns)</font>

In [5]:
df.shape

(891, 12)

# 2) Drop unqualified variables

*   Drop variables with missing > 50%
*   Drop categorical variables with flat values > 70% (variables with the same value in the same column)

<font color='blue'>Q2) How many columns do we have left?</font>

In [6]:
# Drop variable with missing > 50%
df.dropna(thresh=df.shape[0]/2, axis=1, inplace=True)

In [7]:
# Drop variable with flat values
df_cat = df[['Name','Sex','Ticket','Embarked']] # Categorial Variable
column_percentage = df_cat.apply(lambda x: x.value_counts(normalize=True).max())
column_drop = column_percentage[column_percentage > 0.7].index

df = df.drop(columns=column_drop)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare
0,1,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0,A/5 21171,7.2500
1,2,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0,PC 17599,71.2833
2,3,1.0,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0,STON/O2. 3101282,7.9250
3,4,1.0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0,113803,53.1000
4,5,0.0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0,373450,8.0500
...,...,...,...,...,...,...,...,...,...,...
886,887,0.0,2.0,"Montvila, Rev. Juozas",male,27.0,0.0,0,211536,13.0000
887,888,1.0,1.0,"Graham, Miss. Margaret Edith",female,19.0,0.0,0,112053,30.0000
888,889,0.0,3.0,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1.0,2,W./C. 6607,23.4500
889,890,1.0,1.0,"Behr, Mr. Karl Howell",male,26.0,0.0,0,111369,30.0000
890,891,0.0,3.0,"Dooley, Mr. Patrick",male,32.0,0.0,0,370376,7.7500

In [8]:
df.shape[1]

10

# 3) Remove all rows with missing target (the variable "Survived")

<font color='blue'>Q3) How many rows do we have left?</font>

In [9]:
df = df.dropna(subset=['Survived'])
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare
0,1,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0,A/5 21171,7.2500
1,2,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0,PC 17599,71.2833
2,3,1.0,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0,STON/O2. 3101282,7.9250
3,4,1.0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0,113803,53.1000
4,5,0.0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0,373450,8.0500
...,...,...,...,...,...,...,...,...,...,...
886,887,0.0,2.0,"Montvila, Rev. Juozas",male,27.0,0.0,0,211536,13.0000
887,888,1.0,1.0,"Graham, Miss. Margaret Edith",female,19.0,0.0,0,112053,30.0000
888,889,0.0,3.0,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1.0,2,W./C. 6607,23.4500
889,890,1.0,1.0,"Behr, Mr. Karl Howell",male,26.0,0.0,0,111369,30.0000
890,891,0.0,3.0,"Dooley, Mr. Patrick",male,32.0,0.0,0,370376,7.7500

In [10]:
len(df)

865

# 4) Handle outliers

For the variable “Fare”, replace outlier values with the boundary values


*   If value < (Q1 - 1.5IQR), relace with (Q1 - 1.5IQR)
*   If value > (Q3 + 1.5IQR), relace with (Q3 + 1.5IQR)

<font color='blue'>Q4) What is the mean of “Fare” after replacing the outliers (round 2 decimal points)?</font>

In [11]:
# Find the boundary value
import numpy as np
q75, q25 = np.percentile(df.Fare, [75 ,25])

iqr = q75 - q25
boundMin = q25 - (iqr*1.5)
boundMax = q75 + (iqr*1.5)

In [12]:
df.loc[df.Fare > boundMax, 'Fare'] = boundMax  # df.loc[rowIndexer, colIndexer] = value
df.loc[df.Fare < boundMin, 'Fare'] = boundMin
df.Fare.mean().round(2)

24.04

# 5) Impute missing value



*   Show the number of missing values in each variable
*   Impute missing values with mean & mode
*   Show the number of missing values again after missing value imputation

<font color='blue'>Q5) Which variable has the largest number of missing values?</font>

In [13]:
# Show the number of missing values in each variable
df.isnull().sum()

PassengerId      0
Survived         0
Pclass          63
Name            25
Sex              0
Age            172
SibSp           33
Parch            0
Ticket          39
Fare             0
dtype: int64

In [14]:
df[['Pclass','SibSp']] = df[['Pclass','SibSp']].fillna(df.median())
df = df.fillna(df.mean())  # Age have to use mean()

<ipython-input-14-15641e7759af>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df[['Pclass','SibSp']] = df[['Pclass','SibSp']].fillna(df.median())
<ipython-input-14-15641e7759af>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Pclass','SibSp']] = df[['Pclass','SibSp']].fillna(df.median())
<ipython-input-14-15641e7759af>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = df.fillna(df.mean())  # Age have to use mean()

In [15]:
df.isnull().sum()

PassengerId     0
Survived        0
Pclass          0
Name           25
Sex             0
Age             0
SibSp           0
Parch           0
Ticket         39
Fare            0
dtype: int64

# 6) Convert categorical to numeric values



*   Drop the variables “Name” & “Ticket”
*   For the variables “Sex” & “Embarked”, perform the dummy coding and drop the first level. Also, drop those original variables (“Sex” & “Embarked”)

<font color='blue'>Q6) How many columns do we have?</font>

In [16]:
df = df.drop(['Name','Ticket'], axis=1)

In [17]:
nominal_columns = ["Sex"]
dummy_df = pd.get_dummies(df[nominal_columns], drop_first=True) # drop_first=True minimalized dummy_code
df_with_dummy = pd.concat([df, dummy_df], axis=1)
df_with_dummy = df_with_dummy.drop(nominal_columns, axis=1)
print(df_with_dummy.shape)

(865, 8)

In [18]:
df_with_dummy

     PassengerId  Survived  Pclass        Age  SibSp  Parch     Fare  Sex_male
0              1       0.0     3.0  22.000000    1.0      0   7.2500         1
1              2       1.0     1.0  38.000000    1.0      0  65.6563         0
2              3       1.0     3.0  26.000000    0.0      0   7.9250         0
3              4       1.0     1.0  35.000000    1.0      0  53.1000         0
4              5       0.0     3.0  35.000000    0.0      0   8.0500         1
..           ...       ...     ...        ...    ...    ...      ...       ...
886          887       0.0     2.0  27.000000    0.0      0  13.0000         1
887          888       1.0     1.0  19.000000    0.0      0  30.0000         0
888          889       0.0     3.0  29.892266    1.0      2  23.4500         0
889          890       1.0     1.0  26.000000    0.0      0  30.0000         1
890          891       0.0     3.0  32.000000    0.0      0   7.7500         1

[865 rows x 8 columns]

In [19]:
df_with_dummy.shape[1]

8

# 7) Partition data



*   Split train/test split with stratification using 70%:30% and random seed with 12345
*   Show a proportion between survived (1) and died (0) in all data sets (total data, train, test)

<font color='blue'>Q7) What is a proportion between survived (1) and died (0) in the training data?</font>

In [20]:
# proportion for total data
df['Survived'].value_counts() / len(df)

0.0    0.616185
1.0    0.383815
Name: Survived, dtype: float64

In [21]:
from sklearn.model_selection import train_test_split
y = df.pop('Survived')
X = df

X_train,X_test,y_train,y_test = train_test_split(X,y,stratify=y,test_size=0.30, random_state=12345)

In [22]:
X_train.shape

(605, 7)

In [23]:
X_test.shape

(260, 7)

In [24]:
# proportion for training data
y_train.value_counts() / y_train.shape[0]

0.0    0.616529
1.0    0.383471
Name: Survived, dtype: float64

In [25]:
# proportion for testing data
y_test.value_counts() / y_test.shape[0]

0.0    0.615385
1.0    0.384615
Name: Survived, dtype: float64